                        <!DOCTYPE html>
                        <html xmlns:th="http://www.thymeleaf.org">
                        <head>
                            <title>Create a New Blog</title>
                            <div th:replace="/fragment/styling :: head-style" ></div>
<!--                            <link rel="stylesheet" href="css/style.css">-->
                        </head>
                        <body>
                        <div th:replace="/fragment/navbar :: navbar" ></div>
                        <div class="container">
                            <h1>Create a New Blog Post</h1>
                            <form action="#" th:action="@{~/blogposts/update/{id}(id=${blogPost.id})}" th:object="${blogPost}" method="POST">
                                <label for="blogTitle">Title:</label>
                                <input id="blogTitle" type="text" name="blogTitle" th:field="*{title}" />

                                <label for="blogAuthor">Author:</label>
                                <input id="blogAuthor" type="text" name="blogAuthor" th:field="*{author}" />

                                <label for="blogEntry">Blog Entry:</label>
                                <input id="blogEntry" type="text" name="blogEntry" th:field="*{blogEntry}" />

                                <button type="submit" class="btn btn-success">Submit Your Blog</button>
                            </form>
                        <!--https://getbootstrap.com/docs/5.0/getting-started/introduction/
                        -->
                        <!--    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_blog&stacked=h
                        -->
                        </div>
                        <div th:replace="/fragment/styling :: body-links" ></div>
                        </body>
                        </html>